version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: deps
    container_name: job-scope
    env_file:
      # - .env.demo
      - .env.local
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    command: npm run dev
    restart: always
