version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: deps
    container_name: job-scope-front
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    command: npm run dev
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
    restart: always
